*{
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
}
  

body{
    background-color: rgb(240, 240, 240);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.formularioPrueba{
    justify-content: space-around;
    height: 95vh;
    width: 30em;
    margin: 1em auto;
    background-color: rgb(223, 222, 222);
    border-radius: 1em;
}

.btn-primary{
    border: none;
    border-radius: 1em;
    width: 10em;
    height: 2em;
    background-color: rgb(233, 233, 233);
    margin-left: 1.5em;
}

h1{
    padding: 0.5em;
}

.mb-3{
    padding: 1em;
    border: 1em;
    border-color: black;
}

.form-label{
    padding: 1em;
}

.form-control{
    width: 25em;
    height: 2em;
}

.form-control2{
    width: 25em;
    height: 4em;
}

.spiderman{
    width: 29em;
    height: 29em;
}

